<h1>笔记本更改</h1>
 
<%= form_for :article, url: article_path(@article), method: :patch do |f| %>
 
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <P>
    <%= f.label  :题目  %><br>
    <%= f.text_field :bookname%>
  </p>
  <p>
    <%= f.submit "保存笔记本" %>
  </p>
 
<% end %>
 
<%= link_to '返回', articles_path %>

<%= link_to '返回主菜单',articles_path %>