
	<!DOCTYPE html>
	<html>
	<head>
		<title>all passage</title>
	</head>
	<body>
	<h1>笔记本</h1>
	<ol>
	<% for article in @articles %>
	<li><a href="/articles/<%= article.id %>"><%= article.bookname %></a>
	<%= link_to 'edit',edit_article_path(article) %>
	<%= link_to 'delete',article_path(article),
	method: :delete,
	data: { confirm: 'Are you sure?' } %></li>
	<% end %>
	</ol>
	<%= link_to '创建新的笔记本',new_article_path %>
	</body>
	</html>