<h1>New Notebook</h1>
	<%= form_for :article,url: articles_path do |f| %>
	<% if @article.errors.any? %>
	<div id="error_explanation">
	<p>
	<% pluralize(@article.errors.count,"error") %> prohibited
	this article from being saved:
	</p>
	<ul>
	<% @article.errors.full_messages.each do |msg| %>
	<li><%= msg %></li>
	<% end %>
	</ul>
	</div> 
	<% end %>
	<p>
	<%= f.label :title %><br>
	<%= f.text_field :title %>
	</p>
	<p>
	<%= f.submit "创建笔记本" %>
	</p>
	<% end %>
	<%= link_to  '返回主菜单',articles_path %>
 

